/* 
#########################################
        GENERAL
#########################################
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* 
font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
*/
/* 
Farbe
#202020
#24bff2
#fff
#F5FBFE

Farbe social media
#3b5998
#fcaf45
#55acee
#c4302b
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Merriweather', serif;
    color: #202020;
}
/* 
#########################################
        NAV
#########################################
*/
nav {
    text-align: right;
    padding-right: 2vw;
}
nav a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #202020;
    padding: 3vh 1vw;
    display: inline-block;
}
/* 
#########################################
        HEADER
#########################################
*/
h2 {
    font-family: 'Merriweather', serif;
    font-size: 56px;
    margin: 5% 0 0 0;
    width: 50%;
    font-weight: normal;
}
header section {
    padding-left: 5vw;
}
header section div {
    background: url("../img/illustration1.gif") right/contain no-repeat;
    padding: 5% 0 10% 0;
}
section p {
    font-size: 25px;
    line-height: 4vh;
    width: 50%;
    margin: 1% 0 2% 0;
}
/* ################# HEADER BUTTONS ################# */
header section div a {
    color: #202020;
    font-size: 20px;
    border-radius:5px;
    padding: 1.5% 2%;
    margin-right: 0.5vw;
    text-decoration: none;
    box-shadow: 1px 1px 5px #cecece;
}
header section div a:first-of-type {
    color: #fff;
    background: #202020;
}
/* 
#########################################
        MAIN
#########################################
*/
/* ################# MAIN 1. SECTION ################# */
main section {
    margin: 10% auto;
    text-align: center;
}
main section:first-of-type {
    width: 90%;
}
main section h2 {
    width: 100%;
}
main section p {
    width: 100%;
    margin: 1% 0 2% 0;
}
main section:nth-of-type(1) article {
    margin: 10% 0;
    padding: 5% 0;
}
main section article div {
    width: 45%;
    display: inline-block;
    margin: 0 2%;
}
main section article  img {
    width: 45%;
}
main section:nth-of-type(1) article:first-of-type {
    background: url("../img/illustration2.png") left/contain no-repeat;
    text-align: right;
}
main section:nth-of-type(1) article:first-of-type div {
    text-align: left;
}
main section:nth-of-type(1) article:last-of-type {
    background: url("../img/illustration3.png") right/contain no-repeat;
    text-align: left;
}
main section:nth-of-type(1) article:last-of-type div {
    text-align: left;
}
/* ################# MAIN 2. SECTION ################# */
main section:nth-of-type(2) article {
    
}
main section:nth-of-type(2) p {
    width: 80%;
    margin: 2% auto;
}
main section:nth-of-type(2) article img {
    width: 30%;
    margin: 2% 1%;
}
main section:nth-of-type(2) article img:hover {
    box-shadow: 1px 1px 5px #cecece;
}
/* ################# MAIN 3. SECTION ################# */
main section:nth-of-type(3) p {
    width: 65%;
    margin: 2% auto;
}
main section:nth-of-type(3) article img{
    margin: 4% 2%;
}
main section:nth-of-type(3) article img:hover{
    box-shadow: 1px 1px 5px #cecece;
}
/* 
#########################################
        FOOTER
#########################################
*/
footer section {
    text-align: center;
}
footer section h2{
    margin: 0 auto;
}
footer section p{
    margin: 2% auto;
}
footer section div {
    width: 30%;
    margin: 0 auto;
    border-radius: 10px;
    background: #F5FBFE;
}
h3 {
    font-size: 30px;
    margin-top: 15%;
    display: inline-block;
}
footer section div p {
    font-size: 20px;
    font-weight: bold;
    margin: 0% auto;
    width: 100%;
}
footer section div p:nth-of-type(1) {
    font-size: 70px;
    font-weight: bold;
    margin: 20% auto;
}
footer section div p:nth-of-type(2) {
    font-size: 25px;
    font-weight: bold;
    margin: 15% auto 5% auto;
    opacity: 0.5;
}
footer section div a {
    background: #24bff2;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 5% 15%;
    margin: 8% auto;
    border-radius: 10px;
    display: inline-block;
}
footer article {
    margin: 10% auto 5% auto;
}
footer article p {
    opacity: 0.5;
    font-size: 20px;
    margin: 1% auto;
}

footer article a {
    text-decoration: none;
    color: #202020;
    font-weight: bold;
}
footer article ul {
    list-style: none;
}
footer article ul li {
    display: inline-block;
}
footer article ul li:nth-of-type(1)::before {
    content: " .";
    color: #3b5998;
    font-size: 30px;
}
footer article ul li:nth-of-type(2)::before {
    content: " .";
    color: #fcaf45;
    font-size: 30px;
}
footer article ul li:nth-of-type(3)::before {
    content: " .";
    color: #55acee;
    font-size: 30px;
}
footer article ul li:nth-of-type(4)::before {
    content: " .";
    color: #c4302b;
    font-size: 30px;
}